.container {
    display: grid;
    margin: 20px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 1240px;
    max-width: 90%;
}    
.grid-item-1, .nav-main {
    grid-column: span 3;
}
.grid-item-4 {
    grid-column: span 2;
}
.grid-item-5 {
    grid-column: 1 / 4;
}
.grid-item-9 {
    grid-column: span 3;
}
