* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    --light: rgb(222, 222, 222);
    --dark: rgb(54, 54, 54);
}
body {
    background-color: rgb(80, 80, 80);
    color: rgb(0, 0, 0);
}
header {
    margin-bottom: .1rem;
}
h1 {
    color: rgb(179, 179, 179);
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}
h2 {
    color: rgb(30, 144, 255);
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}

section {
    color: rgb(255, 255, 255);
}
nav {
    text-align: right;
}
nav ul {
    list-style-type: none;
}
nav li {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
footer {
    padding: 30px;
    color: white;
    position: relative;
}
.copy {
    background-color: black;
    font-size: 12px;
    margin-top: 20px;;
    padding: 2px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.grid-item {
    box-shadow: 1px 1px 5px var(--dark);
    background-color: var(--light);
}
/* CSS animatiion - text slides in from left side of screen */
/* p {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: -200%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

.grid-item {
    border-radius: 10px;
    padding: 1.5rem;
}
.grid-item:nth-child(even) {
    background-color: var(--light);
}
.grid-item:nth-child(odd) {
    background-color: var(--dark);
}
